<%= form_for @self_esteem, :url => { :host => sigma_host, :controller => :survey, :action => :create_self_esteem_for_person}, :html => { :class => "form-horizontal self_esteem" } do |f| %>

    <% if @self_esteem.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">There were <%= pluralize(@self_esteem.errors.count, "error") %> errors in the form, please verify and correct them:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @self_esteem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :alcohol, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => 'How many drinks did you have today?' %>
    <div class="controls input-group">
      <%= f.text_field :alcohol, :class => 'form-control' %>
      <div class="input-group-addon">drinks/today</div>
    </div>
    <%= error_span(@self_esteem[:alcohol]) %>
  </div>
  <div class="control-group">
    <%= f.label :tabacco, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => 'How many cigarettes did you smoke today?' %>
    <div class="controls input-group">
      <%= f.text_field :tabacco, :class => 'form-control' %>
      <div class="input-group-addon">ciggarets/today</div>
    </div>
    <%= error_span(@self_esteem[:tabacco]) %>
  </div>
  <div class="control-group">
    <%= f.label :drugs, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => 'How many drug doses did you took today?' %>
    <div class="controls input-group">
      <%= f.text_field :drugs, :class => 'form-control' %>
      <div class="input-group-addon">doses/today</div>
    </div>
    <%= error_span(@self_esteem[:drugs]) %>
  </div>
  <div class="control-group">
    <%= f.label "Walking time today", :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => 'How many minutes did you spent on walking today?' %>
    <div class="controls input-group">
      <%= f.text_field :walking_time_per_day, :class => 'form-control' %>
      <div class="input-group-addon">min/today</div>
    </div>
    <%= error_span(@self_esteem[:walking_time_per_day]) %>
  </div>
  <div class="control-group">
    <%= f.label "Jogging time today", :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => 'How many minutes did you spent on jogging today?' %>
    <div class="controls input-group">
      <%= f.text_field :jogging_time_per_day, :class => 'form-control' %>
      <div class="input-group-addon">min/today</div>
    </div>
    <%= error_span(@self_esteem[:jogging_time_per_day]) %>
  </div>
  <div class="control-group">
    <%= f.label "Workout time today", :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => 'How many minutes did you spent in gym today? Do you even lift bro?' %>
    <div class="controls input-group">
      <%= f.text_field :gym_workout_time_per_day, :class => 'form-control' %>
      <div class="input-group-addon">min/today</div>
    </div>
    <%= error_span(@self_esteem[:gym_workout_time_per_day]) %>
  </div>
  <div class="control-group">
    <%= f.label "Swimming time today", :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => 'How many minutes did you spent in swimming pool today?' %>
    <div class="controls input-group">
      <%= f.text_field :swimming_time_per_day, :class => 'form-control' %>
      <div class="input-group-addon">min/today</div>
    </div>
    <%= error_span(@self_esteem[:swimming_time_per_day]) %>
  </div>
  <div class="control-group">
    <%= f.label "Junk food today", :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => 'How many unhealthy meals did you had today?' %>
    <div class="controls input-group">
      <%= f.text_field :junk_food_per_day, :class => 'form-control' %>
      <div class="input-group-addon">meals/today</div>
    </div>
    <%= error_span(@self_esteem[:junk_food_per_day]) %>
  </div>
  <div class="control-group">
    <%= f.label "Healthy food today", :class => 'control-label' %>
    <div class="controls input-group">
      <%= f.text_field :wholesome_food_per_day, :class => 'form-control' %>
      <div class="input-group-addon">meals/today</div>
    </div>
    <%= error_span(@self_esteem[:wholesome_food_per_day]) %>
  </div>
  <div class="control-group">
    <%= f.label "Weather today", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :weather, @weather, {}, { :class => 'form-control' } %>
    </div>
    <%= error_span(@self_esteem[:weather]) %>
  </div>
  <div class="control-group">
    <%= f.label "Current season", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :season, @seasons, {}, { :class => 'form-control' } %>
    </div>
    <%= error_span(@self_esteem[:season]) %>
  </div>
  <div class="control-group">
    <%= f.label :self_esteem, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :self_esteem, 1..10, {}, { :class => 'form-control' } %>
    </div>
    <%= error_span(@self_esteem[:self_esteem]) %>
  </div>
  <%= f.hidden_field :personal_datum_id, :value => @self_esteem.personal_datum_id %>
  <br />

  <%= f.submit "Accept (2/2)", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            {:host => sigma_host, :controller => :survey, :action => :index}, :class => 'btn btn-default' %>

<% end %>
