<%= form_for @personal_datum, :url => { :host => sigma_host, :controller => :survey, :action => :create_person }, :html => { :class => "form-horizontal personal_datum" } do |f| %>

    <% if @personal_datum.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t 'errors_notification' %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @personal_datum.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :sex, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.sex') %>
    <div class="controls">
      <%= f.select :sex, @sex, {}, { :class => 'form-control' } %>
    </div>
    <%= error_span(@personal_datum[:sex]) %>
  </div>
  <div class="form-group">
    <%= f.label :age, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.age') %>
    <div class="controls input-group">
      <%= f.text_field :age, :class => 'form-control' %>
      <div class="input-group-addon"><%= t 'adds.age_ad' %></div>
    </div>
    <%= error_span(@personal_datum[:age]) %>
  </div>
  <div class="form-group">
    <%= f.label :nationality, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.nationality') %>
    <div class="controls">
      <%= f.select :nationality, @nationalities, {}, { :class => 'form-control' } %>
    </div>
    <%= error_span(@personal_datum[:nationality]) %>
  </div>
  <div class="form-group">
    <%= f.label :living_country, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.living_country') %>
    <div class="controls">
      <%= f.select :living_country, @countries, {}, { :class => 'form-control' } %>
    </div>
    <%= error_span(@personal_datum[:living_country]) %>
  </div>
  <div class="form-group">
    <%= f.label :health_issues, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.health_issue') %>
    <div class="controls">
      <%= f.check_box :health_issues, {:class => 'form-control checkbox-control'},"true","false"  %>
    </div>
    <%= error_span(@personal_datum[:health_issues]) %>
  </div>
  <div class="form-group">
    <%= f.label :chronic_diseases, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.chronic_diseases') %>
    <div class="controls">
      <%= f.check_box :chronic_diseases, {:class => 'form-control checkbox-control'},"true","false" %>
    </div>
    <%= error_span(@personal_datum[:chronic_diseases]) %>
  </div>
  <div class="form-group">
    <%= f.label :smoker, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.smoker') %>
    <div class="controls">
      <%= f.check_box :smoker, {:class => 'form-control checkbox-control'},"true","false" %>
    </div>
    <%= error_span(@personal_datum[:smoker]) %>
  </div>
  <div class="form-group">
    <%= f.label :alcoholic, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.alcoholic') %>
    <div class="controls">
      <%= f.check_box :alcoholic, {:class => 'form-control checkbox-control'},"true","false"%>
    </div>
    <%= error_span(@personal_datum[:alcoholic]) %>
  </div>
  <div class="form-group">
    <%= f.label :druggy, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.druggy') %>
    <div class="controls">
      <%= f.check_box :druggy, {:class => 'form-control checkbox-control'},"true","false" %>
    </div>
    <%= error_span(@personal_datum[:druggy]) %>
  </div>
  <div class="form-group">
    <%= f.label :psychotropic, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.psychotropic') %>
    <div class="controls">
      <%= f.check_box :psychotropic, {:class => 'form-control checkbox-control'},"true","false" %>
    </div>
    <%= error_span(@personal_datum[:psychotropic]) %>
  </div>
  <div class="form-group">
    <%= f.label :disabled, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.disabled') %>
    <div class="controls">
      <%= f.check_box :disabled, {:class => 'form-control checkbox-control'},"true","false" %>
    </div>
    <%= error_span(@personal_datum[:disabled]) %>
  </div>
  <div class="form-group">
    <%= f.label :stress, :class => 'control-label has-tooltip', 'data-placement' => 'right', 'title' => t('titles.stress') %>
    <div class="controls">
      <%= f.check_box :stress, {:class => 'form-control checkbox-control'},"true","false" %>
    </div>
    <%= error_span(@personal_datum[:stress]) %>
  </div>


  <%= f.submit t('proceed'), :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            {:host => sigma_host, :controller => :survey, :action => :index}, :class => 'btn btn-default' %>

<% end %>
