<div class="jumbotron">
  <h1>DataGatherer</h1>
  <p class="lead">
    <h2><%= t 'welcome' %></h2><br />
    <h4><%= t 'welcome_text' %></h4>
  </p>
  <p class="notice">
    <%= t 'notice' %>
  </p>
  <p class="warning">
    <%= t 'warning1' %>
  </p>
  <p class="warning">
    <%= t 'warning2' %>
  </p>
  <p>
    <%= link_to t('attend'),
              {:host => sigma_host, :controller => :survey, :action => :get_personal_data}, :class => 'btn btn-primary' %>
  </p>
</div>
